﻿@model School.ViewModels.SchoolMarks.CreateSchoolMarksModel

@{
    ViewBag.Title = "Добавить отметку";
}

<h4>Добавление отметки</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="PupilId" type="hidden" value="@Model.PupilId" />
            <div class="form-group">
                @Html.DisplayNameFor(o=>o.Subject)               
                <select asp-for="Subject" class="form-control">
                    <option selected>
                        Математика
                    </option>
                    <option>
                        Русский язык
                    </option>
                    <option>
                        Белорусский язык
                    </option>
                    <option>
                        Биология
                    </option>
                    <option>
                        Физика
                    </option>
                    <option>
                        География
                    </option>
                    <option>
                        Информатика
                    </option>
                    <option>
                        История
                    </option>
                </select>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.Value)
               
                <input asp-for="Value" min="0" max="10" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.LessonDate)
                <input asp-for="LessonDate" class="form-control" />
                <span asp-validation-for="LessonDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.LessonOrderNumber)
                <input asp-for="LessonOrderNumber" min="1" max="10" class="form-control" />
                <span asp-validation-for="LessonOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.Comment)
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="SchoolPupils" asp-route-id="@Model.PupilId">
        Профиль ученика
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
