﻿@model School.ViewModels.SchoolMarks.DetailsSchoolMarksModel

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<div>
    <h4>SchoolMark</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Model.Value
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Model.Subject
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LessonDate)
        </dt>
        <dd class = "col-sm-10">
            @Model.LessonDate
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LessonOrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Model.LessonOrderNumber
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PupilId)
        </dt>
        <dd class="col-sm-10">
            @Model.PupilId
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
