﻿@model School.ViewModels.SchoolMarks.EditSchoolMarksModel

@{
    ViewBag.Title = "Edit";
}

<h1>Edit</h1>

<h4>SchoolMark</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                @Html.DisplayNameFor(o => o.Value)
                @Html.TextBoxFor(m => m.Value, new { @class = "form-control" })
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.Subject)
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.LessonDate)
                @Html.TextBoxFor(m => m.LessonDate, new { @class = "form-control" })
                <span asp-validation-for="LessonDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.LessonOrderNumber)
                @Html.TextBoxFor(m => m.LessonOrderNumber, new { @class = "form-control" })
                <span asp-validation-for="LessonOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.PupilId)
                @Html.DropDownListFor(m => m.PupilId, Model.Marks, new { @class = "form-control" })
                <span asp-validation-for="PupilId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
