﻿@model School.ViewModels.SchoolClasses.CreateSchoolClassesModel

@{
    ViewBag.Title = "Create";
}

<h1>Добавление класса</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.Name)
                @Html.TextAreaFor(o => o.Name, new {@class="form-control"} )
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="SchoolClasses">Cписок классов</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
