﻿@using School.ViewModels.SchoolPupils
@model School.ViewModels.SchoolClasses.DetailsSchoolClassesModel

@{
    ViewBag.Title = Model.Name + " класс";
}


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Ученики</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">Задания</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane container active" id="home">
        <ul class="nav mt-3 mb-3">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item ml-3">
                    <a asp-action="SendEmail" asp-controller="SchoolClasses" asp-route-id="@Model.Id">
                        Отправить сообщение
                    </a>
                </li>
            }
        </ul>
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>
                        Фамилия
                    </th>
                    <th>
                        Имя
                    </th>
                    <th>
                        Отчество
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pupil in Model.Pupils)
                {
                <tr>
                    <td>
                        @pupil.LastName
                    </td>
                    <td>
                        @pupil.FirstName
                    </td>
                    <td>
                        @pupil.MiddleName
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="SchoolPupils" asp-route-id="@pupil.Id">
                            Перейти
                        </a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="SchoolPupils" asp-route-id="@pupil.Id">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="SchoolPupils" asp-route-id="@pupil.Id">
                            Delete
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane container fade" id="menu1">
        <ul class="nav mt-3 mb-3">
            <li class="nav-item">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Create" asp-controller="HomeTasks" asp-route-id="@Model.Id">
                        Добавить задание
                    </a>
                }
            </li>
        </ul>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Дата
                    </th>
                    <th>
                        Предмет
                    </th>
                    <th>
                        Задание
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var taskGroup in Model.Tasks)
                {
                    @foreach (var task in taskGroup)
                    {
                <tr>
                    <td>
                        @taskGroup.Key.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @task.Subject
                    </td>
                    <td>
                        @Html.Raw(task.Content)
                    </td>                    
                    <td>
                        <a asp-action="Edit" asp-controller="HomeTasks" asp-route-id="@task.Id">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="HomeTasks" asp-route-id="@task.Id">
                            Delete
                        </a>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<a asp-action="Index" asp-controller="SchoolClasses">
    Cписок классов
</a>