﻿@model IEnumerable<School.ViewModels.SchoolClasses.IndexModel>

@{ ViewBag.Title = "Список классов"; }

<h3>Список классов</h3>
@if (User.Identity.IsAuthenticated)
{
<p>
    <a class="btn btn-primary"
       asp-action="Create"
       asp-controller="SchoolClasses">
        Добавить класс
    </a>

    <a class="btn btn-primary"
       asp-action="Create"
       asp-controller="SchoolPupils">
        Добавить ученика
    </a>
</p>
}
<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>
                Класс
            </th>
            <th>
                Учеников
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <span class="badge badge-primary badge-pill">@(item?.Pupils?.Count ?? 0)</span>
            </td>
            <td>
                <a asp-action="Details" asp-controller="SchoolClasses" asp-route-id="@item.Id">
                    Перейти
                </a>
            </td>
            <td>
                <a asp-action="Delete" asp-controller="SchoolClasses" asp-route-id="@item.Id">
                    Delete
                </a>
            </td>

            <td>
                <a asp-action="Edit" asp-controller="SchoolClasses" asp-route-id="@item.Id">
                    Edit
                </a>
            </td>
        </tr>}
    </tbody>
</table>


