﻿@model School.ViewModels.NewsPosts.CreateNewPostModel

@{
    ViewBag.Title = "Добавить запись";
}
<script src="~/ckeditor/ckeditor.js"></script>
<div class="row">
    
    <div class="col-md-6">
        <h4>Добавление новостной записи</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.Title)
                @Html.TextBoxFor(o => o.Title, new { @class = "form-control" })
                
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.Content)
                @Html.TextAreaFor(o => o.Content, new { @class = "form-control"})
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить запись" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    CKEDITOR.replace('@Html.IdFor(o=>o.Content)');    
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
