﻿@model School.ViewModels.NewsPosts.DetailsNewsPostModel

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<div>
    <h4>NewsPost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           @Html.DisplayNameFor(o => o.Title)
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(o => o.Content)
        </dt>
        <dd class = "col-sm-10">
            @Model.Content
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(o => o.PostedDate)
        </dt>
        <dd class = "col-sm-10">
            @Model.PostedDate
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(o => o.AuthorId)
        </dt>
        <dd class = "col-sm-10">
            @Model.AuthorId
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AuthorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
