﻿@model School.ViewModels.NewsPosts.EditNewsPostModel
@{
    ViewBag.Title = "Edit";
}

<h1>Edit</h1>
<script src="~/ckeditor/ckeditor.js"></script>
<h4>NewsPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                @Html.DisplayNameFor(o => o.Title)
                @Html.TextBoxFor(o => o.Title, new { @class = "form-control" })               
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.Content)
                @Html.TextAreaFor(o => o.Content, new { @class = "form-control"})
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.PostedDate)
                @Html.TextBoxFor(o => o.PostedDate, new { @class = "form-control" })
                <span asp-validation-for="PostedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.AuthorId)
                @Html.DropDownListFor(m => m.AuthorId, Model.News, new { @class = "form-control" })
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    CKEDITOR.replace('@Html.IdFor(o=> o.Content)');    
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
