﻿@model School.ViewModels.HomeTasks.CreateHomeTaskModel

@{
    ViewBag.Title = "Добавить задание";
}
<script src="~/ckeditor/ckeditor.js"></script>

<div class="row">
    <div class="col-md-4">
        <h4>Добавить задание</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClassId" value="@Model.ClassId" />
            <div class="form-group">
                @Html.DisplayNameFor(m => m.Subject)
                <select asp-for="Subject" class="form-control">
                    <option selected>
                        Математика
                    </option>
                    <option>
                        Русский язык
                    </option>
                    <option>
                        Белорусский язык
                    </option>
                    <option>
                        Биология
                    </option>
                    <option>
                        Физика
                    </option>
                    <option>
                        География
                    </option>
                    <option>
                        Информатика
                    </option>
                    <option>
                        История
                    </option>
                </select>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(m => m.Content)
                @Html.TextAreaFor(o => o.Content, new { @class = "form-control" })
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(m => m.Deadline)
                @Html.TextBoxFor(o => o.Deadline, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="SchoolClasses" asp-route-id="@Model.ClassId">
        Профиль класса
    </a>
</div>
<script type="text/javascript">
     CKEDITOR.replace('@Html.IdFor(o=> o.Content)');
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
