﻿@model School.ViewModels.HomeTasks.DetailsHomeTasksModel


@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<div>
    <h4>HomeTask</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(o => o.Subject)
        </dt>
        <dd class="col-sm-10">
            @Model.Subject
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(o => o.Content)
        </dt>
        <dd class="col-sm-10">
            @Model.Content
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(o => o.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Model.Deadline
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(o => o.ClassId)
        </dt>
        <dd class="col-sm-10">
            @Model.ClassId
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClassId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
