﻿@model School.ViewModels.HomeTasks.EditHomeTasksModel

@{
    ViewBag.Title = "Edit";
}
<script src="~/ckeditor/ckeditor.js"></script>
<h1>Edit</h1>

<h4>HomeTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                @Html.DisplayNameFor(o => o.Subject)
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.Content)
                 @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.Deadline)
                @Html.TextBoxFor(m => m.Deadline, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.ClassId)
                 @Html.DropDownListFor(m => m.ClassId, Model.Tasks,new { @class = "form-control" })
                <span asp-validation-for="ClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="SchoolClasses" asp-route-id="@Model.ClassId">
        Профиль класса
    </a>
</div>
<script type="text/javascript">
     CKEDITOR.replace('@Html.IdFor(o=> o.Content)');
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
