﻿@model School.ViewModels.SchoolPupils.CreatePeopleModel
@{
    ViewBag.Title = "Create";
}

<h1>Добавление ученика</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.FirstName)
                @Html.TextBoxFor(o => o.FirstName, new { @class = "form-control" })
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.LastName)
                @Html.TextBoxFor(o => o.LastName, new { @class = "form-control" })
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.MiddleName)
                @Html.TextBoxFor(o => o.MiddleName, new { @class = "form-control" })
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.Email)
                @Html.TextBoxFor(o => o.Email, new { @class = "form-control" })
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.Address)
                @Html.TextBoxFor(o => o.Address, new { @class = "form-control" })
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.ClassId)
                @Html.DropDownListFor(o => o.ClassId, Model.Classes)
            </div>
            <!--                     
               Html.ValidationMessageFor(o => o.Email)        -->
            <div class="form-group">
                <input type="submit" value="Добавить ученика" class="btn btn-primary" />
            </div>
        </form>
</div>
    </div>

    <div>
        <a asp-action="Index" asp-controller="SchoolClasses">
            Cписок классов
        </a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
