﻿@model School.ViewModels.SchoolPupils.EditSchoolPupilsModel

@{
    ViewBag.Title = "Edit";
}

<h1>Edit</h1>

<h4>SchoolPupil</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                @Html.DisplayNameFor(o => o.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.MiddleName)
                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.Address)
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(o => o.ClassId)
                @Html.DropDownListFor(m => m.ClassId, Model.Classes, new { @class = "form-control" })
                <span asp-validation-for="ClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
