﻿@model School.ViewModels.SchoolPupils.ReportModel
@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <h5 class="text-center">
        <b>Табель успеваемости</b>
    </h5>
    <h5 class="text-center">
        учащегося @Model.ClassName класса<br />
        <b>@Model.FullName</b><br />
        за период с @Model.Period
        от @Model.CurrenDate
    </h5>
    <h5 class="text-left">
        Количество предметов: @Model.Marks.Count()
    </h5>
    <table class="table text-center">
        <thead>
            <tr>
                <th>
                    Предмет
                </th>
                <th>
                    Средний балл
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Marks)
            {
                <tr>
                    <td>
                        @item.Subject
                    </td>
                    <td>
                        @item.Value
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>